body{
  text-align: center;
}

#heading {
  margin-top: 10px;
  font-size: 30px;
  margin-right: 55px;
}

h1 {
  display: inline;
  text-align: center;
}

.fa-arrow-left {
  margin: 20px;
  float: left;
  font-size: 20px;
}

#selectCity {
  text-align: left;
  float: left;
  margin-left: 50px;
}

#currentCity {
  text-align: center;
}

#weatherTemp {
  font-size: 100px;
}
