<!-- <app-city-detail [city]="selectedCity"></app-city-detail> -->

<div>
  <!-- <ul class="cities"> -->
  <table class="cities">
    <tr *ngFor="let city of cities"
    [class.selected]="city === selectedCity">

    <td (click)="onSelect(city)"
    routerLink="../city/{{ city.id }}">
      {{city.name}}
    </td>

    <td>
      <button class="delete btn btn-xs btn-danger" (click)="deleteCity(city.id)">x</button>
    </td>

  </tr>
  <!-- </ul> -->
</table>
</div>
<div id="addCityDiv">
  <button class="btn btn-warning" routerLink="/add-city">
      Add city
    </button>
</div>
