#heading {
  margin-top: 10px;
  font-size: 30px;
  margin-right: 55px;
}

h1 {
  display: inline;
  text-align: center;
 }

.fa-arrow-left {
  margin: 20px;
  float: left;
  font-size: 20px;
}
.fa-check {
  float: right;
  font-size: 20px;
  margin-right: 30px;
  margin-top: 10px;
}

#addCityInput {
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  margin-left: 50px;
}

#errorMessage {
  color: crimson;
}
